include ./common/_mixins
block variables

doctype html
html(lang="En en")
	head
		meta(charset="utf-8")
		meta(content="ie=edge" http-equiv="x-ua-compatible")
		meta(content="width=device-width, initial-scale=1" name="viewport")
		title Test
		link(rel='stylesheet' href='css/main.css')
	
	body
		
		.wrapper
			include common/promo.pug
			include common/services.pug
			include common/services-full.pug
			include common/cases.pug
				
	
	
	script(src='js/main.js')

