section.cases
	.title-block.title-block_cases
		h2.title Cases
		
	p.cases__content Discover the experiences we crafted for our clients. Each campaign never stands alone but is embedded in a broader strategy.
	
	.cases__block
		.cases__col.cases__col_big
			.cases__img-block.cases__img-block_big
				img.cases__img(alt="pictire" src="./img/cases/image_1.jpg")
				.cases__after
					+icon('toyota', 'cases__logo')
					h3.cases__after-title DEWAR'S HOTEL INTERNATIONAL
					h4.cases__after-subtitle Brand Activations
					p.cases__after-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit felis, porta ut massa in, consectetur finibus nibh. Vestibulum in efficitur velit. Proin mollis est in risus faucibus, nec finibus mauris vehicula. 
					button.button.button_cases(type = 'button') 
						.button__text Read more
						+icon('arrow-right', 'button__icon')
			
		
		.cases__col
			.cases__img-block
				img.cases__img(alt="pictire" src="img/cases/image_2.jpg")
			.cases__img-block
				img.cases__img(alt="pictire" src="img/cases/image_3.jpg")
			
		.cases__col
			.cases__img-block
				img.cases__img(alt="pictire" src="img/cases/image_4.jpg")
			.cases__img-block.cases__img-block_more
				.cases__more
					.cases__text More cases
					+icon('arrow-right', 'cases__icon')

	