section.promo
	.logo
		img.logo__img(alt='logo' src="img/promo/logo.png")
		
	header.header
		nav.menu
			ul.menu__list
				li.menu__item.menu__item-active
					a.menu__link HOME
					
				li.menu__item
					a.menu__link(href="#") SERVICES
					
				li.menu__item
					a.menu__link(href="#") CASES
					
				li.menu__item
					a.menu__link(href="#") NEWS
				
				li.menu__item
					a.menu__link(href="#") ABOUT US
				
				li.menu__item
					a.menu__link(href="#") JOBS
					
				li.menu__item
					a.menu__link(href="#") CONTACT
		.header__item
			a.header__link(href="#") PROMO PORTAL
		
	.promo__content
		h1.promo__title WE ARE BANANAS, CRAFTSMEN OF EXPERIENCES
		p.promo__text We forge connections between brand and people. 
		
	.promo__footer
		.promo__lines
		a.promo__scroll-text(href="#") Scroll down