section.services-full
	
	button.services-full__close-btn.js-close-more(type="button")
	
	.title-block.title-block_services-full
		h2.title Services
	
	.services-full__block
	
		.services-full__col
			.services__item
				h3.services__item-title Hospitality
				.services__item-icon
					+icon('hospitality', 'services__icon services__icon_full')
				.services__descr
					p.services__text The right people for all your 
						span.services__text-next events and hospitality
				
			.services__item
				h3.services__item-title mia
				.services__item-icon
					+icon('mia', 'services__icon services__icon_full')
				.services__descr
					p.services__text The mobile activation on wheels 
						span.services__text-next for maximum coverage
			
		
		.services-full__col
		
			.services__item.services__item_yellow
				h3.services__item-title Foodtruck
				.services__item-icon
					+icon('foodtruck', 'services__icon services__icon_full')
				p.services__text Great way to engage with your 
					span.services__text-next audience in a fresh and foodie way.
				
			.services__item
				h3.services__item-title festivals
				.services__item-icon
					+icon('festivals', 'services__icon services__icon_full')
				p.services__text Connect with people in 
					span.services__text-next a festive way
				
			.services__item
				h3.services__item-title Popup
				.services__item-icon
					+icon('popup', 'services__icon services__icon_full')
				p.services__text Create an immersive experience 
					span.services__text-next in a temporary setting
				
			.services__item
				h3.services__item-title Ontraid
				.services__item-icon
					+icon('confetti', 'services__icon services__icon_full')
				p.services__text Activate your band in the 
					span.services__text-next point of sale
		
		.services-full__col
		
			.services__item
				h3.services__item-title MERCHANDISING
				.services__item-icon
					+icon('merchandising', 'services__icon services__icon_full')
				p.services__text Brand supporting logistics 
					span.services__text-next from retail to events
				
			.services__item
				h3.services__item-title Events
				.services__item-icon
					+icon('event', 'services__icon services__icon_full')
				p.services__text Create your own custom event
					span.services__text-next for all your shareholders
				
			.services__item
				h3.services__item-title Sampling
				.services__item-icon
					+icon('sampling', 'services__icon services__icon_full')
				p.services__text Create brand preference by
					span.services__text-next having people taste your product
		
		.services-full__col
		
			.services__item
				h3.services__item-title in store activation
				.services__item-icon
					+icon('store', 'services__icon services__icon_full')
				p.services__text Activate your band in the 
					span.services__text-next point of sale
				
			.services__item
				h3.services__item-title photo activation
				.services__item-icon
					+icon('photo', 'services__icon services__icon_full')
				p.services__text Capture memorable moments
					span.services__text-next to share online