section.services
	.title-block.title-block_services
		h2.title Services
	
	p.services__content We can help you with a wide range of tactics within brand activation, depending on your business objectives or marketing goals. This gives us proven expertise for all services from Tier 1 to Tier 3.
	
	.services__blocks
	
		.services__col
			.services__item.services__item_yellow
				h3.services__item-title Foodtruck
				.services__item-icon
					+icon('foodtruck', 'services__icon')
				button.services__btn-readmore(type = 'button') 
					.services__readmore Read more
					+icon('arrow-right', 'services__arrow-right')
								 
		
		.services__col
			.services__item
				h3.services__item-title MERCHANDISING
				.services__item-icon
					+icon('merchandising', 'services__icon')
				p.services__text Brand supporting logistics
					span.services__text-next from retail to events
			
			.services__item
				h3.services__item-title in store 
					span.services__item-subtitle activation
				.services__item-icon
					+icon('store', 'services__icon')
				p.services__text Activate your band in the 
					span.services__text-next point of sale
		
		.services__col
			.services__item
				h3.services__item-title.services__item-title_view-more VIEW MORE 
					span.services__item-subtitle SERVICES
				button.services__show-more.js-show-more(type = 'button')
	